.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: linear-gradient(180deg, rgba(255,255,255,0.02), rgba(255,255,255,0.01));
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(2,8,20,0.6);
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 30%;
}

.portfolio__item h3 {
    margin: 2rem 0;
}

.portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem; 
}

.portfolio__item-content {
    height: 40%;
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}